*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: url(imagenes/background.jpg) no-repeat center center;
    background-attachment: fixed;
    color: black;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px 1fr));
    grid-auto-rows: minmax(350px, auto);  
}  
.menu{ 
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 10%;
    background: rgba(245, 240, 242, 0.3); 
    font-family: 'Courier New', Courier, monospace;
} 
#brand{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}
#textMenu{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    cursor: pointer;
    gap: 10%; 
}
a{
    text-decoration: none;
    color: #030000;
}
#icons{
    width: 20%;
    display: flex;
    justify-content: center;
    cursor: pointer; 
    gap: 20px;
}
#logo{
    grid-column: 1 / 5; 
    grid-row: 1 / 2;
    background:url(imagenes/New-York.jpg) no-repeat center center;
    background-size: cover;
}
.contenido{
    display: grid;
    grid-column: 1 / 5;
    grid-row: auto;
    background: #fff;
    /*background: url(imagenes/counter.jpg) no-repeat center center;*/
}
@media(max-width: 900px){
    .contenido .gallery{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;   
    }
    .contenido .gallery .thumb{
        padding: 20px;
        width: 300px;
        height: 300px;
    }
    .contenido .gallery .thumb img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        -webkit-border-radius:7px;
        -moz-border-radius:7px;
        -ms-border-radius:7px;
        -o-border-radius:7px;
}
}
@media(min-width: 900px){
    .contenido .gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        animation: rotar 20s infinite linear;
        transform-style: preserve-3d;
        -webkit-animation: rotar 20s infinite linear;
}
    .contenido .gallery .thumb{
        position: absolute;
        width: 300px;
        height: 300px;
    }
    .contenido .gallery img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        padding-left: 25%;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}
     .gallery .thumb:nth-child(1){ transform: rotateY(0deg) translateZ(300px); }
     .gallery .thumb:nth-child(2){ transform: rotateY(45deg) translateZ(300px); }
     .gallery .thumb:nth-child(3){ transform: rotateY(90deg) translateZ(300px); }
     .gallery .thumb:nth-child(4){ transform: rotateY(135deg) translateZ(300px); }
     .gallery .thumb:nth-child(5){ transform: rotateY(180deg) translateZ(300px); }
     .gallery .thumb:nth-child(6){ transform: rotateY(225deg) translateZ(300px); }
     .gallery .thumb:nth-child(7){ transform: rotateY(270deg) translateZ(300px); }
     .gallery .thumb:nth-child(8){ transform: rotateY(315deg) translateZ(300px); }
     .gallery .thumb:nth-child(9){ transform: rotateY(360deg) translateZ(300px); }
    
    @keyframes rotar{
    from{
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    }to{
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
    }
  }
}
/*------------------------------SHOPINGCART---------------------------*/



/*----------------------------PRODUCTS------------------------------------*/
#products{
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    background: #fff;
}
.preferences{
    width: 30%;
    height: 300px;
    color: white;
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease;
}
.preferences:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.preferences  h1{
    text-align: center;
    margin-top: -45%;
}
.preferences img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*----------------------------FOOTER--------------------------------------*/
#footer{
    grid-column: 1 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: #fff
}
#socialFooter{
}
#textFooter{
    width: 30%;
}
#form{
    display: grid;
    gap: 15px; 
    padding: 4%;
    background: #030000;
    border-radius: 10px;  
    color: #fff;
}
#form input{
    border: none;
    color: #fff;
    background: #030000;
    border-bottom: 1px solid #fff;
}
.section{
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / 5;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #fff;
}
#text{
    width: 40%;
}
#footerPolitics{
    grid-column: 1 / 5;
    background: #030000;
}













